
$font_black : #222;

@mixin content {
  div {
    margin : 10px;
    font-size : 95%;
  }
}

#ctrls{
  input#name{
    width : 100px;
  }
  input#body{
    width : 480px;
  }
}

body {
  @include content;
  width : 800px;
  background-color : #EEE;
  color : $font_black;
}
